@charset"utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@300&display=swap');



body{
    font-family: 'Noto Sans KR', sans-serif;
}


/*main*/

main{
    position: relative;
    width:100%;
    height: 500px;
    background: url(../img/ceobg3.png) no-repeat top/cover; 
}
main .title{
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-size: 2rem;
    
    color: #fff;
    
}
main .title h1{
    font-weight: 600;
}
main .pageNabi{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 40px;
    background-color: #ff8c00;
    
}
main .pageNabi ul{
    width:1280px; 
    margin: 0 auto;
}

main .pageNabi ul li{
    float: left;
    line-height: 35px;
}
main .pageNabi ul li a:hover{
    
    text-decoration: underline;
}
main .pageNabi ul li a img{
    margin-top: 2px;
    height: 13px;
}


/***section******/

section{
    width:100%;
    height: 100%;
}

section .section-inner{
    width:1280px;
    height: 800px;
    margin: 0 auto;
   
}

.section-inner .board-menu{
    position: relative;
    
}
.section-inner .board-menu .menu-list{
    position: absolute;
    right: 0;
    margin-top: 20px;
}
.section-inner .board-menu .menu-list li{
    float: left;
     width: 80px;
    height: 35px;
    text-align: center;
    
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 18px;
}
.section-inner .board-menu ul li a{
    line-height: 35px;
}
.board-menu h2{
    display: block;
}
